body{
    background-image: url("./images/homepagebg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F4D9D0; 
    z-index: 1; 
    opacity: 0.75;
}

.logo{
    position: absolute;
    top: 20px; 
    left: 10px; 
    width: 150px; 
    height: 80px; 
    z-index:2;
}



.container{
    z-index: 3;
    font-size: 20px;
}

.concert-one-regular {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }



#heading {
    font-family: "Concert One", sans-serif;
    font-size: 30px;
    color: #921A40;
  }

.nav nav-pills{
    font-size: 30px;
}

svg{
    margin-left: 10px;
    color:#921A40;
}

.bi{
    margin-right: 10px;
}

.container col-xxl-8 px-4 py-5{
    position: relative;
    z-index: 3;
    padding-top: 1rem;
    
}

.img{
    border-radius: 20px;
}


.container.col-xxl-8.px-4.py-5 {

    position: relative;
    transform: translate(25px,0px);
  }

#hero {
    font-family: "Concert One", sans-serif;
    color: #921A40;
}

.hero-text-body-emphasis {
    --bs-text-opacity: 1;
    color: #921A40;
}

.nav{
    color: #921A40;
}

.lead{
    font-style:oblique;
}



.container col-xxl-8 px-4 py-5 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (min-width: 768px) { /* Adjust breakpoint as needed */
    .container col-xxl-8 px-4 py-5 {
        /* Full-screen specific styles */
        align-items: flex-start; /* Or another suitable value */
    }
}

img.d-block.mx-lg-auto.img-fluid {
    border-radius: 500px;
    border:10px solid #921A40;
}

.nav-pills .nav-link { 
    color: #921A40; 
    font-weight: 700;
  }
  .container.col-xxl-8 {
    padding-top: 0% !important; /* Override Bootstrap padding */
   
   
}
.modal-header {
    background-color: #921a40;
    color: white;
}

.modal-title {
    font-family: "Concert One", sans-serif;
}

.btn-primary {
    background-color: #921a40;
    border: none;
}
